<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<style>
  body {
    background-image: url(https://mblogthumb-phinf.pstatic.net/MjAxNzA1MTFfNDIg/MDAxNDk0NTA0ODM3MTc4.HGQvjJfg_z08JQwWEcY9-YosMGenKFXDnHXKpHcAlJYg.iu6HxUTkynqg7JKYxLEzzQlqT0HkuNl2TaKxg0VNEv4g.GIF.h0pe_goodluck/2302248294488_2VQL08702.gif?type=w800
); 
    background-attachment: fixed;
    background-repeat:repeat-x;
    background-position: 20% 90%;
    
  }
</style>

<body>
  <div class="container">
    <div class="card mt-4 mb-2">
      <h1 class="mb-1">제목 : <%= article.title %>
      </h1>
      <div class="mb-2">
        내용 : <%= article.description %>
      </div>
      <div>
        작성자 : <%= article.writer %>
      </div>
      <div class="text-muted mb-2">
        <%= article.createdAt.toLocaleDateString() %>
      </div>
    </div>
    <a href="/" class="btn btn-secondary">홈으로</a>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-info">수정</a>
    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
      <a href="/articles/edit/<%= article.id %>" class="btn btn-danger">삭제</a>
    </form>
    <embed src="https://player.bgmstore.net/PhDip" autostart="true" allowscriptaccess="always" enablehtmlaccess="true" allowfullscreen="true" width="422" height="240"></embed><br><a href="https://bgmstore.net/view/PhDip" target="_blank">BGM정보 : 브금저장소 - https://bgmstore.net/view/5bb0d0e3352039d227086220/%EB%98%91%EB%B6%80%EB%9F%AC%EC%A7%80%EA%B2%8C%20%EB%A7%90%ED%95%98%EB%8A%94%20%ED%94%BC%EC%B9%B4%EC%B8%84%20(%ED%8F%AC%EC%BC%93%EB%AA%AC%EC%8A%A4%ED%84%B0,%20%EA%B7%80%EC%97%AC%EC%9B%80,%20%EB%8B%AC%EB%8B%AC)</a>

  </div>
</body>

</html>